/* .jumbotron {
    background-image: ;
} */

footer {
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #333;
    padding-top: 33px;
}

footer p {
    color: #aaa;
    font-size: 0, 9em;
}

footer .contact {
    color: #aaa;
}

footer .contact-font {
    color: #aaa;
    font-size: 1.2em;
    text-align: center;
}

.icon-collor {
    color: white;
}

/* SKILL BAR */
.progressBar {
    margin: auto;
}

.progressBar h4 {
    font-size: 21px;
    font-size: 1.33em;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 7px;
    margin-bottom: .33em;
}

.progressBarContainer {
    width: 100%;
    max-width: 350px;
    height: 26px;
    height: 1.66em;
    background: #e6eae3;
    background: rgba(8, 102, 220, .2);
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
}

.progressBarValue {
    height: 1.66em;
    float: left;
    background: #0866dc;
    background: teal;
    color: white;
    text-align: right;
    padding-right: 8px;
    ;
}

.value-00 {
    width: 0;
}

.value-10 {
    width: 10%;
}

.value-20 {
    width: 20%;
}

.value-30 {
    width: 30%;
}

.value-40 {
    width: 40%;
}

.value-50 {
    width: 50%;
}

.value-60 {
    width: 60%;
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.value-90 {
    width: 90%;
}

.value-100 {
    width: 100%;
}

/* END */

@media(max-width: 500px) {
    .progressBar h4 {
        text-align: center;
    }

    footer {
        height: 515px;
    }
}